---
import Navegacion from '../components/header.astro'
import About from '../components/about.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>enterprisepm</title>
	</head>
	<body>
		<header>
			<Navegacion />
		</header>
		<main>
			<About />
		</main>
	</body>
</html>

<style>
	header{
		background-image: url('../img/fondo.jpeg');
		height: 700px;
		background-size: 1600px auto;
        background-repeat: no-repeat;
        background-position: 50% 0%;
	}
</style>
