---
import Logo from '../img/Logo.png'
---

<div class="container">
    <a href="#"><img class="w-72 mt-4 logo" src={Logo.src} alt="Logo de enterprise"></a>
</div>

<style>
    .logo{
        margin-left: -1rem;
        top: 0;
    }
</style>